Flask
py7zr
Flask-SQLAlchemy
marshmallow_sqlalchemy
sqlalchemy
sqlalchemy-orm
flask_cors
flask_restful
flask_jwt_extended
numpy
google-cloud-storage
tarfile
pika
google-cloud
python-dotenv
google-api-python-client
gunicorn 
